@{
    ViewData["Title"] = "Tipo de Ejercicio";
}

<div class="text-center">
    <h1 class="display-4">Introduzca el tipo de ejercicio</h1>
    <button type="button" class="btn btn-primary">Primary</button>
</div>
