@{
    ViewData["Title"] = "Tipo de ejercicios";
}

<div class="text-center">
    <h1 class="display-4">Hola!</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">Tipo de ejercicios</a>.</p>
</div>
