@{
    ViewData["Title"] = "TipoEjercicio";
}

<div class="text-center">
    <h1 class="display-4">Tipo Ejercicio</h1>
    <p>Introduzca el tipo de ejercicio</p>
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Tipo de ejercicio</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        <button type="button" class="boton1 btn btn-primary">Guardar</button>
    </div>
</div>